In [1]:
import pandas as pd
df = pd.read_csv('adult.data.csv')
%precision %.2f

'%.2f'

In [2]:
def calculate_demographic_data(print_data=True):
    df = pd.read_csv('adult.data.csv')

In [3]:
df.head() #reads few rows, just to check if everything is correct.

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [4]:
race = df.race.value_counts()  #value_counts() allows us to count the values by column('race')
race                           #we can use df.race instead of df['race'] in order to save time.

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

What is the average age of men?

avg_age_male = df.groupby('sex', as_index=False).age.mean() #groupby = grouping by column('sex') and get the average age of each different sex with age.mean()(note that age is column here)

pd.options.display.float_format = '{:,.2f}'.format  #Use that to format to the 2nd decimal number.
print(f'{avg_age_male}')

avg_age_male.loc[1]  #.loc allows us to print a certain row.

.

More common way (familiar to me) to find the average age of a Male.

In [5]:
male_age = df.sex == 'Male'
male_age

0         True
1         True
2         True
3         True
4        False
         ...
32556    False
32557     True
32558    False
32559     True
32560    False
Name: sex, Length: 32561, dtype: bool

In [6]:
df[male_age]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [7]:
av_age = df[male_age].age.sum()/len(df[male_age])

In [8]:
pd.options.display.float_format = '{:,.2f}'.format
av_age

39.43

What is the percentage of people who have a Bachelor's degree?

In [9]:
bach = df.education == 'Bachelors'
bachelor_percent = len(df[bach])/len(df)
bachelor_percent

0.16

What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

     What percentage of people without advanced education make more than 50K?
     
     with and without `Bachelors`, `Masters`, or `Doctorate`

In [10]:
higher_education = df.education == "Bachelors"
higher_education += df.education == "Masters"
higher_education += df.education == "Doctorate"
higher_education = len(df[higher_education])
higher_education

7491

In [66]:
high_edu = (df.education == "Bachelors") | (df.education == "Masters") | (df.education == "Doctorate")

In [69]:
rich = (df.salary == ">50K")

In [70]:
df.loc[high_edu, 'salary']

0        <=50K
1        <=50K
4        <=50K
5        <=50K
8         >50K
         ...
32538     >50K
32539     >50K
32544    <=50K
32553    <=50K
32554     >50K
Name: salary, Length: 7384, dtype: object

In [68]:
df.loc[~high_edu, 'salary'] # "~" gives the opposite of the filtered.

2        <=50K
3        <=50K
6        <=50K
7         >50K
10        >50K
         ...
32556    <=50K
32557     >50K
32558    <=50K
32559    <=50K
32560     >50K
Name: salary, Length: 25177, dtype: object

In [71]:
df.loc[rich, 'salary']

7        >50K
8        >50K
9        >50K
10       >50K
11       >50K
         ...
32539    >50K
32545    >50K
32554    >50K
32557    >50K
32560    >50K
Name: salary, Length: 7841, dtype: object

In [73]:
df.loc[high_edu][rich]

C:\Users\PC\AppData\Local\Temp\ipykernel_492\3010878479.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.loc[high_edu][rich]['salary']

8        >50K
9        >50K
11       >50K
19       >50K
20       >50K
         ...
32533    >50K
32536    >50K
32538    >50K
32539    >50K
32554    >50K
Name: salary, Length: 3486, dtype: object

In [78]:
high_edu_rich_percent = len(df.loc[high_edu][rich]) / len(df.loc[high_edu])

C:\Users\PC\AppData\Local\Temp\ipykernel_492\3401705790.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  high_edu_rich_percent = len(df.loc[high_edu][rich]) / len(df.loc[high_edu])

In [80]:
high_edu_rich_percent

0.47

In [83]:
len(df.loc[~high_edu])

25177

In [84]:
low_edu_percent = len(df.loc[~high_edu][rich]) / len(df.loc[~high_edu])

C:\Users\PC\AppData\Local\Temp\ipykernel_492\3221970909.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  low_edu_percent = len(df.loc[~high_edu][rich]) / len(df.loc[~high_edu])

In [87]:
low_edu_percent

0.17